.barra-navegacao-coop {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f5f9;
}

.conteudo-navegacao {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo-e-texto {
    display: flex;
    align-items: center;
    gap: 12px;
}

.imagem-logo-png {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.textos-logo {
    display: flex;
    flex-direction: column;
}

.titulo-coop {
    margin: 0;
    font-size: 1.35rem;
    color: #064e3b;
    font-weight: 700;
}

.subtitulo-coop {
    margin: 0;
    font-size: 0.85rem;
    color: #94a3b8;
}

.acoes-navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}


@media (max-width: 850px) {
    .barra-navegacao-coop {
        height: 70px;
    }

    .conteudo-navegacao {
        padding: 0 15px;
    }

    .textos-logo, 
    .subtitulo-coop,
    .titulo-coop {
        display: none;
    }

    .links-centralizados, 
    .nav-links, 
    .menu-opcoes { 
        display: none;
    }

    .btn-sair span, 
    .texto-sair {
        display: none;
    }

    .acoes-navbar {
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .grade-envolvidos {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    .perfil-mini p {
        font-size: 0.85rem;
    }

    .card-acoes-coop {
        min-width: 100%;
        margin-top: 15px;
    }
}