.barra-navegacao-coop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f5f9;
    z-index: 1000;
}

.conteudo-navegacao {
    width: 100%;
    padding: 0 40px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-e-texto {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.imagem-logo-png {
    height: 42px; 
    width: auto;
}

.titulo-coop {
    font-size: 1.1rem;
    color: #1f2937;
    font-weight: 700;
}

.subtitulo-coop {
    font-size: 0.85rem;     
    color: #6b7280;
}


.acoes-navbar {
    display: flex;
    align-items: center;
    gap: 15px; 
}