.secao-materiais-laranja {
  background-color: #FF8C00;
  padding: 60px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 95%;
  max-width: 100%;       
  box-sizing: border-box;
  margin: 20px auto; 
}

.titulo-materiais {
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
  width: 100%; 
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
  
}

.grade-cards-materiais {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; 
  width: 100%;
}

.cartao-material-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 110px;
}

.circulo-branco-icone {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.icone-laranja {
  color: #FF8C00;
  display: flex;
}

.texto-material {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}