
.como-funciona {
  background-color: #f1fbf4;
  padding: 80px 60px;
  text-align: center;
}

.como-funciona h2 {
  font-size: 32px;
  color: #0b5d3b;
  margin-bottom: 60px;
}

.card-imagens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;    
}


.titulo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}

.titulo-item span {
  background-color: #1f6b4e;
  color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.titulo-item h3 {
  font-size: 18px;
  color: #0b5d3b;
  margin: 0;
}

.item img {
  width: 100%;
  max-width: 260px;
  border-radius: 18px;

}

.item p {
  margin-top: 12px;
  font-size: 15px;
  color: #0b5d3b;
  line-height: 1.4;
  text-align: center;
  font-weight: 500;

}
@media (max-width: 1024px) {
  .card-imagens {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .card-imagens {
    grid-template-columns: 1fr;
  }

  .como-funciona {
    padding: 60px 20px;
  }

  .como-funciona h2 {
    font-size: 26px;
  }
}
