/* Ocupa o fundo da tela com a cor suave */
.dashboard-page {
    background-color: #f0fdfa; 
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    padding-top: 50px;       
}

.dashboard-container {
    width: 90%;             
    max-width: 1100px;      
    display: flex;
    flex-direction: column;
    padding: 20px;        
   
}

.dashboard-title {
    font-size: 1.5rem;
    color: #115e59;
    margin-bottom: 25px;
    font-weight: 600;
}


.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}



