.cards-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
     flex-wrap: wrap;       

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4.6rem;
    width: 100%;
    margin-top: 5rem;   
    margin-bottom: 5rem;
}

.como-funciona-container {
    display: flex;
    justify-content: center;
    align-items: center;


}

.home-container .como-funciona-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer-principal {
    width: 100%;
    background-color: #0a5c2f;
    display: flex;
    flex-direction: column;
}


@media (max-width: 1024px) {
    .cards {
        flex-wrap: wrap;   
        gap: 3rem;
    }
}

@media (max-width: 600px) {
    .cards {
        flex-direction: column; 
        align-items: center;
        gap: 2rem;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}
