.footer {
  background: linear-gradient(180deg, #065f46, #064e3b);
  color: #e5f9f2;
  padding: 3rem 2rem 1.5rem;
  font-family: "Inter", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 2rem;
}

.footer-marca, 
.footer-links, 
.footer-contato {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;   
}

.footer-marca {
  margin-top: -12px;      
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: center;
}

.footer-icone-localizacao {
  width: 26px;
  height: 26px;
  color: #22c55e;         
}

.footer-logo h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
   margin-right: 12px; 
}

.footer-slogan {
  display: block;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color: #a7f3d0;
}

.footer-descricao {
  margin: 1.2rem 0;
  line-height: 1.6;
  font-size: 0.95rem;
  max-width: 280px;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;           
}

.footer-links li a {
  color: #d1fae5;
  text-decoration: none;
  font-size: 0.95rem;
}

.footer-contato-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 1rem;              
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: #d1fae5;
}

.footer-selo {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-divisor {
  margin: 2.5rem auto 1.5rem;
  max-width: 1200px;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-inferior, .footer-impacto {
  text-align: center;
  font-size: 0.9rem;
  color: #a7f3d0;
  margin-bottom: 1rem;
}
.footer-impacto {
  display: flex;
  align-items: center;  
  justify-content: center; 
  gap: 8px;               
  font-size: 0.85rem;
  color: #a7f3d0;
  margin-top: 10px;
}

.footer-icone-impacto {
  color: #22c55e;        
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .footer-marca {
    margin-top: 0; 
  }

  .footer-descricao {
    max-width: 100%; 
  }
}