.navbar-coletor {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: none;
  display: flex;
  align-items: center;
}

.navbar-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo {
  height: 42px;
  width: auto;
}

.navbar-left h1 {
  font-size: 18px;
  color: #115e59;
  margin: 0;
}

.navbar-left p {
  font-size: 14px;
  color: #4b7c75;
  margin: 0;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #2d3748;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.perfil-link {
  background-color: #0b7a33;
  color: white;
  border: none;
  padding: 10px 28px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}


@media (max-width: 850px) {
  .navbar-coletor {
    height: auto;
    padding: 20px 0;
  }

  .navbar-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 0 20px;
  }

  .navbar-left {
    flex-direction: column;
    gap: 8px;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 15px;
  }

  .perfil-link {
    width: 100%;
    justify-content: center;
    max-width: 200px;
  }

  .nav-item-botao {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}