.navegacao-recipiente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #f1f5f9;
    z-index: 1000;
}

.navegacao-esquerda {
    display: flex;
    align-items: center;
    gap: 15px;
}



.navegacao-logo {
   height: 42px;
    width: auto;
}

.navegacao-texto h2 {
    font-size: 1.1rem;
    color: #1f2937;
    margin: 0;
    font-weight: 700;
   
}

.navegacao-texto span {
    font-size: 0.85rem;
    color: #6b7280;
}

.navegacao-direita {
    display: flex;
    align-items: center;
    gap: 15px;
}