.botao-sair-universal {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #6d1601;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.2s ease-in-out;
}

.icon-sair {
    transition: stroke 0.2s ease-in-out;
    stroke: currentColor;
}

.botao-sair-universal:hover {
    color: #c12d08;

}

.botao-sair-universal:hover .icon-sair {
    stroke: #c12d08;
}